.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  gap: 3rem; */
  padding-left: 1rem;
}

.cardWrapper {
  flex-basis: 33%;
}

.cardWrapper:hover {
  background-color: whitesmoke;
}
