.container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  flex-basis: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.imageContainer {
  width: 80px;
  height: auto;
}

.image {
  width: 80px;
  object-fit: cover;
}
